.logo {
  cursor: pointer;
  /* 클릭 포인터를 표시합니다. */
  transition: filter 0.3s, border-radius 0.3s;
  /* 필터 및 모서리에 대한 변화를 부드럽게 만듭니다. */
  border-radius: 10px;
  /* 모서리를 둥글게 만듭니다. */
}

.logo:hover {
  filter: brightness(1.2);
  /* 마우스가 올라갔을 때 밝기를 1.2배로 증가시킵니다. */
  border-radius: 20px;
  /* 모서리를 둥글게 만듭니다. */
}