/* table.module.css */
.tableBox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}

.tableContainer {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.table {
  border-collapse: collapse;
  min-width: 600px;
  /* 원하는 테이블 최소 너비 */
}

.tableBox table th,
.tableBox table td {
  padding: 0.5rem;
  border: 1px solid #555555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableBox table th {
  background-color: #E5D283;
}

.tableBox table tr:nth-child(even) {
  background-color: rgb(174, 195, 174);
}

.tableBox table tr:nth-child(odd) {
  background-color: rgb(228, 228, 208);
}

.dead {
  color: red;
}

@media (max-width: 768px) {
  .tableBox {
    font-size: x-small;
  }

  .tableContainer {
    justify-content: center;
  }

  .tableBox table {
    width: auto;
  }

  .tableBox table th,
  .tableBox table td {
    padding: 0.2rem;
  }

  .tableBox table thead {
    display: none;
  }

  .tableBox table tr {
    display: block;
    margin-bottom: 0.5rem;
  }

  .tableBox table td {
    display: block;
    position: relative;
  }

  .tableBox table td:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.2rem;
    background-color: #E5D283;
    width: max-content;
  }
}