.home {
  text-align: center;
}

.titles {
  margin: 5rem 5rem;
}

.titles h1:hover,
.titles h3:hover,
.titles h5:hover {
  color: rgb(236, 133, 15);
}


.start {
  display: inline-flex;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: black;
  border-radius: 15%;
  padding: 0.3rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.start:hover {
  background-color: rgb(236, 133, 15);
}