.home {
  text-align: center;
}

.titles {
  margin: 5rem 5rem;
}

.start {
  display: inline-flex;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-radius: 15%;
  padding: 0.3rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.start:hover {
  background-color: rgb(54, 54, 54);
}