.dash {
  text-align: center;
  font-weight: 800;
  background-color: #4F709C;
  margin-top: 4rem;
}

.red_text {
  color: rgb(182, 0, 0);
}

.titles h3:hover,
.titles h5:hover {
  text-decoration: underline;

}