.dash {
  display: flex;
  flex-direction: row;
  text-align: center;

}

.section1,
.section2,
.section3 {
  display: flex;
  flex: 1;
}

.section1>* {
  flex: 1;

}

.section2 {
  border: 1px solid rgb(70, 70, 70);
  border-top: none;
  flex-direction: column;
  overflow: auto;
}

.section2::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera*/
}

.section3>* {
  flex: 1;
}

.nav_head {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
}

.nav_head h1 {
  display: flex;
  justify-content: center;
}

.nav_head h1,
.nav_head li {
  display: flex;
  align-items: center;
  height: 4rem;
  cursor: pointer;
}

.nav_head li {
  margin-left: 4.5rem;
  border-radius: 10px;
  width: 65%;
}

.neck {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
}

.nav_head li:hover {
  background-color: rgb(15, 15, 15);
  filter: brightness(1.2);
  cursor: pointer;
  transition: filter 0.3s, border-radius 0.3s;
  border-radius: 10px;
}

.neck>span:nth-child(1) {
  margin: 0 0 0 1rem;
}

.neck>span:nth-child(3) {
  margin: 0 3.8rem 0 0;
}


@media (max-width: 768px) {

  .dash .section1,
  .dash .section3 {
    display: none;
  }

  .dash .section2 {

    display: block;
  }

  .dash .nav_head h1 {

    display: block;
  }

  .neck>span:nth-child(3) {
    margin: 0 2rem 0 0;
  }
}